mixin header
	#SVG_container
	header
		.container
			.header__wrapper

				.icon-menu.header__icon
					img(src="../img/menu.png")

				.logo.header__logo
					img.logo__img(src="../img/logo.png")
				.menu.header__menu
					.header-menu__links
						a.header-menu__link(href="#") Каталог
						a.header-menu__link(href="#") Акции
						a.header-menu__link(href="#") Обучение
						a.header-menu__link(href="#") Услуги
						a.header-menu__link(href="#") Оплата
						a.header-menu__link(href="#") Доставка
						a.header-menu__link(href="#") Компания
						a.header-menu__link(href="#") Контакты

				.header-phone
					.header-phone__row
						.header-phone__icon
							img.phone__img(src="../img/phone.png")
						.header-phone__link
							a(href="tel:+74951234567") 8 (800) 600-05-06
					.header-phone__time С 9:00 до 21:00 по Мск

				.header-search
					.header-search__icon
						img.header-search__img(src="../img/search.png")

				.header-basket
					.header-basket__row
						.header-basket__icon
							img.header-basket__img(src="../img/basket.png")
						.header-basket__counter 0




