extends layout/_base

block vars
	- var array = {title:'Home'}

block content_block

	.container
		.bread-crumbs
			.bread-crumbs__item Главная

			.bread-crumbs__item Услуги

			.bread-crumbs__item Обучение

	.begin
		.container
			.begin__column
				.begin-start
					span.begin-start__text старт: 16 августа 2021

				.begin__title.title Курс обучения "Диодной эпиляции и омоложения"

				.begin__text Благодаря этому курсы, вы сможете освоить технологию диодных лазеров и получить обучение диодной лазерной эпиляции и омоложению.

				.begin__buttons
					a.button.begin__button Начать обучение
					a.button.button--transparent Обзор курса

		.salary
			.container
				.salary__row
					.salary__title.title Стать востребованным косметологом легко

					.hunter
						.hunter__column
							.hunter__row
								.hunter__text.text По данным hh.ru:
								img.hunter__icon(src="../img/hh.png")
							.hunter--main-text До 200 000 рублей может получать мастер лазерной эпиляции

		.container
			.years
				.years__left
					.text-bold Наша компания уже более 10 лет помогает всем желающим осуществить свои мечты.
				.years__right
					.text Не важно в какой сфере вы работали до этого. Уже сегодня, Вы можете сделать первые шаги к своей карьере, пройдя курсы Kitkosmetik и начать работать в самое ближайшее время.

			.advantages
				.advantages__item
					.advantages__icon
						img(src="../img/ad1.png")
					.advantages__title Программа курса
					.advantages__text В рамках курса, вы узнаете, как начать работать и зарабатывать, поэтапно развивая свою карьеру.
					.advantages__link
						a Подробнее

				.advantages__item
					.advantages__icon
						img(src="../img/ad2.png")
					.advantages__title Обучение 24/7
					.advantages__text Kitkosmetik предоставляют возможность учиться в комфортном для вас графике. </br> Смотрите видео в удобное для вас время, а преподаватель проверит задания и проконсультирует, когда вы будете готовы.

				.advantages__item
					.advantages__icon
						img(src="../img/ad3.png")
					.advantages__title Трудоустройство
					.advantages__text Все полученные знания, которые мы нарабатывали на протяжении 10 лет, помогут вам получить трудоустройство в салон красоты и даже начать работать на себя.













