.header
	&__wrapper
		display: flex
		align-items: center

	&-menu__links
		display: flex
		padding: 20px 0

		a.header-menu__link
			padding: 0 15px
			text-decoration: none
			font-size: 16px
			color: #000



